* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #dfe6e9;
    font-size: 16px;
    height: 100vh;
}

.main-container {
    width: 432px;
    margin: auto;
    background-color: #b2bec3;
    height: 100vh;
}

.box-top {
    position: fixed;
    width: 432px;
    height: 20rem;
}

.navbar {
    height: 3rem;
    background-color: #6a89cc;
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    color: white;
    font-size: 1.25rem;
    margin-left: 5.5rem;
    flex-grow: 1;
    font-family: 'SF Pro Display', sans-serif;
}

#nav-h1 {
    color: white;
    font-size: .85rem;
    font-family: 'SF Pro Text', sans-serif; 

}   

#nav-img-2 {
    margin-right: .35rem;
}


.box-map {
    background-image: url(images/map.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.box-bus {
    background-color: white;
    height: 7rem;
    padding-right: .75rem;
    padding-top: .50rem;
    display: flex;
    justify-content: center;
}

.box-bus-text {
    padding: 20px;
    margin-right: 4rem;
    font-family: 'SF Pro Text', sans-serif;
}

.box-bus-text h1 {
    color: #2d9cdb;
    font-weight: 600;

}

.box-bus-text h2 {
    color: #b2bec3;
    font-size: .90rem;
    }

.box-bus-text h3{
    color: #b2bec3;
    font-size: .80rem;
}

.bus-icon {
    height: 6rem;
    width: 6rem;
    background-color: #2d9cdb;
    padding: .75rem;
    border-radius: 10%;
    margin-right: 1.75rem;

}

.box-map {
    background-color: #81ecec;
    height: 17rem;


}

.box-bus-info {
    padding-top: 430px;
}

.box-content-1,
.box-content-2,
.box-content-3,
.box-content-4,
.box-content-5 {
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: white;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    border-bottom: 1px solid #b2bec3;
}

.box-text {
    font-family: 'SF Pro Text', sans-serif;
    
}

.box-text-2 {
    margin-right: 4.9rem;
    font-family: 'SF Pro Text', sans-serif;
}

.box-text-2 h1 {
    padding-top: 10px;
    color: #2d9cdb;
}

.box-text-2 h2 {
    color: #b2bec3;
    font-size: .90rem;
}

.box-text-2 h3 {
    padding-top: 10px;
    color: #009432;
    font-weight: 700;
}



.box-text h1 {
    padding-top: 10px;
    color: #2d9cdb;
}

.box-text h2 {
    color: #b2bec3;
    font-size: .90rem;
}

.box-text h3 {
    padding-top: 10px;
    color: #009432;
    font-weight: 700;
   
}

#box-text-h3 {
    color: black;
}

#box-text-h1 {
    color: #b2bec3;
}

#box-text-red-h1 {
    color: #e17055;
}

#box-text-h3-1 {
    color: #b2bec3;
}






.box-heading {
    background-color: #6fcf97;
    width: auto;
    height: 2.2rem;
}

.box-heading h1 {
    text-align: center;
    padding-top: .7rem;
    color: white;
    font-family: 'SF Pro Text', sans-serif;
}

.box-num,
.box-num-1,
.box-num-2 {
    background-color: #2d9cdb;
    height: 5rem;
    width: 5rem;
    border-radius: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: .30rem;

}

.box-num-1 {
    background-color: #b2bec3;
}

.box-num-1 h1{
    background-color: #b2bec3;
    font-family: 'SF Pro Display', sans-serif;
}

.box-num-2 {
    background-color: #e17055;
}

.box-num,
.box-num-1,
.box-num-2 h1 {
    color: white;
    font-weight: 400;
    font-size: 2rem;
    font-family: 'SF Pro Display', sans-serif;
}


.box-arrow img{
    margin-top: 15px;
    margin-left: 16px;
    padding-left: 10px;
    
}
